{{yield}}
<div>
    Enter Name:
    <input type="textarea" value={{currentName}} oninput={{action UpdateCurrentName}}>
    <button onclick={{action AddName}}>ADD</button>

    <ul data-test-names-list>
        {{#each addedNameList key="id" as |name index|}}
            <li id='name={{index}}'>{{name}}</li>
            <button id="removeName={{index}}" onclick={{action this.RemoveName name}}>-</button>
        {{/each}}

        
    </ul>
</div>
