{{yield}}
{{!-- <div class="calculator">
    <div class="inputs">
        <input type="textarea" placeholder="Name" value={{nameVal}} oninput={{action UpdateName}}><br>
        <input type="textarea" placeholder="What?" value={{eventVal}} oninput={{action UpdateEvent}}><br>
        <input type="number" min="0" placeholder="How Much?" value={{payVal}} oninput={{action UpdateCost}}><br>
    </div>

    <div class="addName" style="margin-top: 1.5pc;">
        <button onclick={{action AddName}}>Add Person</button>
    </div>
</div> --}}


<div data-test-nametest>
    {{@name}}
</div>

<div class="row">
    <div class="column">
        <ul class="flex-container" data-test-output>
            {{#each this.NameList as |person|}}
            <div class="card">
                <li class="flex-item">
                    <p>{{person.name}} paid: ${{person.amountPaid}} for {{person.event}}</p>

                    {{#if (greater-than person.amountPaid (calculate-split NameList))}}
                    <p>{{person.name}} is owed ${{is-owed person.amountPaid (calculate-split NameList)}}</p>

                    {{else if (is-equal person.amountPaid (calculate-split NameList))}}
                    <p>{{person.name}} owes nothing</p>

                    {{else}}
                    <p>{{person.name}} owes ${{is-owed (calculate-split NameList) person.amountPaid}}</p>
                    {{/if}}
                    <button class="removeName" id="removeName={{name}}" onclick={{action RemoveName person}}>-</button>
                    <br>
                 </li>
                </div>
            {{/each}}
        </ul>
    </div>
</div>