{{yield}}


<div style="text-align: center;">
    <p>How many people are in your party? <br><b>{{this.count}}</b></p>
    <button type="button" {{on "click" this.decrement}}>-</button>
    <button type="button" {{on "click" this.increment}}>+</button>
</div>

{{#each personCount.length}}
    {{input type="textbox"}}
{{/each}}

<CostCalculator @personCount={{this.count}} ></CostCalculator>




